<template>
  <q-page>
    <div class="q-pa-md row items-start q-gutter-md">
      <h2 v-if="Object.keys(getFavourites).length === 0">
        No Favourites. Add Some!
      </h2>
      <movie
        v-else
        v-for="movieData in getFavourites"
        :movieData="movieData"
      ></movie>
    </div>

  </q-page>

</template>

<script>
  import { mapGetters } from 'vuex'

  import Movie from '../components/Movie.vue'

  export default {
    name: 'Favourites',
    methods: {

    },
    computed: {
      ...mapGetters('favourites', ['getFavourites'])
    },
    components: {
      'movie': Movie
    }
  };
</script>

<style scoped>

</style>
