<template>
    <q-page>
      <div class="q-pa-md q-gutter-md">
          <h4>Instructions</h4>
          <p>
            <strong>Search</strong><br>
            Here you can search for movies by their title.<br>
            Up to 10 results are displayed. The rest are paginated for you.<br>
            To see additional information, simply click on the movie card. <br>
            The director, the year of release, actors, and the plot are displayed.<br>
            <br>
            <strong>Favourites</strong><br>
            To favourite a movie, click on the star icon at the top right of each search result.<br>
            Favourited movies are indicated by the star icon appearing filled, and bright.<br>
            To remove a favourite, click on the star icon again.<br>
            The Favourites tab is where you can see all the movies you have favourited.

          </p>

      </div>
    </q-page>
</template>

<script>
  export default {
    name: 'Instructions'
  };
</script>

<style scoped>

</style>
