<template>
  <q-page>
      <div class="q-pa-lg flex flex-center">
        <q-input
          outlined
          v-model="movieSearch"
          v-on:keypress.enter="searchHandler"
          placeholder="Movie Title"
          type="text"
        >
          <template v-slot:prepend>
            <q-icon name="search"/>
          </template>
        </q-input>
      </div>

      <div class="q-pa-lg flex flex-center">
        <h2 v-if="noResults">No Results!</h2>
        <div v-else>
          <div class="q-pa-md row items-start q-gutter-md">
            <movie
              v-for="movieData in movieResults"
              :movieData="movieData"
            ></movie>
          </div>

          <div class="q-pa-lg flex flex-center">
            <q-pagination
              v-if="movieResults.length > 0"
              v-model="pageNum"
              :max="numOfPages"
              :max-pages="5"
              @click="paginationHandler"
            >
            </q-pagination>
          </div>
        </div>
      </div>
    <!--</div>-->

    <q-ajax-bar
      ref="bar"
      position="bottom"
      color="accent"
      size="10px"
      skip-hijack
    />

  </q-page>
</template>

<script>
  import {OMDB_URL} from '../services/apiConf';

  import Movie from '../components/Movie.vue'

  export default {
    name: 'Index',
    data() {
      return {
        movieSearch: '',
        movieResults: [],
        movieResultCount: 0,
        pageNum: 1,
        noResults: false
      }

    },
    methods: {
      movieSearchRequest: function() {
        const bar = this.$refs.bar;

        bar.start();

        this.$axios.get(OMDB_URL+"&s="+this.movieSearch+"&page="+this.pageNum)
          .then((response) => {

            if (bar) {
              bar.stop();
            }

            if (response.data.Response === 'True') {
              this.noResults = false;
              this.movieResults = response.data.Search;
              this.movieResultCount = response.data.totalResults;

            } else {
              this.noResults = true;
              this.movieResults = [];
              this.movieResultCount = 0;
            }
          })
          .catch((error) => {
            if (bar) {
              bar.stop();
            }
            console.log(error);
          })

      },
      searchHandler: function() {
        this.movieResults = [];
        this.movieResultCount = 0;
        this.pageNum = 1;

        this.movieSearchRequest();
      },
      paginationHandler: function() {
        this.movieResults = [];
        this.movieSearchRequest();
      }
    },
    computed: {
      numOfPages() {
        return Math.ceil(this.movieResultCount / 10);
      }
    },

    components: {
      'movie': Movie
    }
  }
</script>

<style>

</style>
