<template>

  <div>

    <q-card
      class="movie-card"
      @click="displayDialog"
    >
      <q-img
        class="movie-poster"
        :src="posterSrc"
        alt="Poster Unavailable"
        basic
      >
        <q-rating
          @click="toggleFavourite"
          @click.prevent.stop
          v-model="isFavourited"
          size="3em"
          color="yellow-5"
          icon="star"
          max="1"
          class="favourite-rating"
        />
      </q-img>

      <q-card-section>
        <div class="text-h6">{{ title }}</div>
        <div class="text-subtitle2">{{ type }}</div>
      </q-card-section>
    </q-card>

<!----------- CARD END | DIALOG START ---------------->

    <q-dialog v-model="isDialogDisplayed">
      <q-card class="movie-dialog-card">
        <q-img class="movie-dialog-poster" :src="posterSrc"/>

        <q-card-section>
          <div class="row no-wrap items-center">
            <div class="col text-h6 ellipsis">{{ title }}</div>
            <div class="col-auto text-grey q-pt-md">
               {{ year }}
            </div>
          </div>
        </q-card-section>

        <q-card-section>
          <div class="text-subtitle1">By {{ director }}</div>
          <div class="text-subtitle2">Starring {{ actors }}</div>
          <div class="text-subtitle2 text-grey"><p>{{plot}}</p></div>
        </q-card-section>

        <q-separator />

      </q-card>
    </q-dialog>

  </div>

</template>

<script>
  import { mapActions } from 'vuex'

  import {OMDB_URL} from '../services/apiConf';

  export default {
    name: 'Movie',
    props: ['movieData'],
    data() {
      return {
        title: this.$props.movieData.Title,
        posterSrc: this.$props.movieData.Poster,
        type: this.$props.movieData.Type,
        year: this.$props.movieData.Year,
        imdbID: this.$props.movieData.imdbID,

        isFavourited: 0,

        isFullDataLoaded: false,
        plot: "",
        actors: "",
        director: "",

        isDialogDisplayed: false
      }
    },
    mounted: function() {
      this.isFavourited = this.$store.getters['favourites/isFavourite'](this.imdbID);
    },
    methods: {
      ...mapActions('favourites', ['addFavourite', 'removeFavourite']),
      toggleFavourite: function() {

        if (this.isFavourited === 1) {
          let favourite = {
            Title: this.title,
            Poster: this.posterSrc,
            Type: this.type,
            Year: this.year,
            imdbID: this.imdbID
          };

          this.addFavourite({id: this.imdbID, add: favourite});

        } else {
          this.removeFavourite({id: this.imdbID});
        }
      },
      displayDialog: function() {
        this.isDialogDisplayed = true;

        if (!this.isFullDataLoaded) {
          this.fullMovieRequest();
        }

      },
      fullMovieRequest: function() {

        this.$axios.get(OMDB_URL+"&i="+this.imdbID+"&plot=short")
          .then((response) => {
            this.director = response.data.Director;
            this.actors = response.data.Actors;
            this.plot = response.data.Plot;
          })
          .catch((error) => {
            console.log(error);
          })
      }
    },
    computed: {

    }
  };
</script>

<style scoped>
  .movie-card {
    width: 15em;
    cursor: pointer;
  }
  .movie-poster {
    height: 24em;
  }
  .favourite-rating {
    top: 0;
    right: 0;
  }
  .movie-dialog-card {
    width: 100%
  }
  .movie-dialog-poster {

  }

</style>
